


<div class="container" style="text-align: center">
<h2>Welcome to your Dashboard!</h2>
 <div class="row">
    <div class="col s12 m6">
      
      <a href="/patients">
      <div class="card teal darken-1">
        <div class="card-content white-text">
          <span class="card-title">Patients</span>
           <div>
            <i class="fas fa-users dashboard-icon"></i>
         

        </div>
          <p>View and create new patients</p>
          </div>
         
        <div class="card-action white">
          <a href="/patients">View Patients</a>
         
        </div>
      </div>
    </div>
    </a>
    <a href="/visits">
     <div class="col s12 m6">
      <div class="card teal darken-1">
        <div class="card-content white-text">
          <span class="card-title">Visits</span>
                  <div> <i class="fas fa-notes-medical dashboard-icon"></i></div>
          <p>View and log patient visits</p>
   
         
        </div>
        <div class="card-action  white">
          <a href="/visits">View Visits</a>
          
        </div>
      </div>
    </div>
  </div>
  </a>
  </div>